<section class="home">
  <h2>home page - under construction</h2>

  <create-gallery></create-gallery>

  <div class="gallery-item-container">
    <ul>
      <gallery-item
        ng-repeat="item in homeControl.galleries"
        gallery="item"
        delete-done="homeControl.galleryDeleteDone(galleryData)"
        ng-click="homeControl.currentGallery = item">
      </gallery-item>
    </ul>
  </div>

  <thumbnail-container
    ng-if="homeControl.currentGallery"
    gallery="homeControl.currentGallery">
  </thumbnail-container>

</section>
