<section class="home">
  <h2>your galleries</h2>

  <create-gallery></create-gallery>

  <input ng-model="homeControl.query" type="text" placeholder="search">

  <div class="gallery-item-container">
    <h4>galleries ordered alphabetically by gallery name</h4>
    <ul>
      <uib-accordion>
        <gallery-item
          ng-repeat="item in homeControl.galleries | search: homeControl.query | orderBy: 'name'"
          gallery="item"
          delete-done="homeControl.galleryDeleteDone(galleryData)"
          ng-click="homeControl.currentGallery = item">
        </gallery-item>
      </uib-accordion>
    </ul>
  </div>

  <thumbnail-container
    ng-if="homeControl.currentGallery"
    gallery="homeControl.currentGallery">
  </thumbnail-container>

</section>
