<li class="gallery-item">
  <div class="current-item" ng-if="!galleryItemControl.showEditGallery">
    <div>
      <p class="gallery-name">name:</p>
      <p class="gallery-name"><span class="bold-weight">{{ galleryItemControl.gallery.name }}</span> (Contains <ng-pluralize count="galleryItemControl.gallery.pics.length" when="{'0': 'no photos.', '1': '{{ galleryItemControl.gallery.pics.length | number }} photo.', 'other': '{{ galleryItemControl.gallery.pics.length | number }} photos.'}"></ng-pluralize>)</p>
    </div>

    <div>
      <p>description:</p>
      <p class="gallery-desc">{{ galleryItemControl.gallery.desc | limitTo: galleryItemControl.limitFullDesc }}
        <span ng-class="galleryItemControl.limitedDesc ? 'bold-weight' : 'hide-expand-markup'">...</span>
        <span ng-click="galleryItemControl.expandGalleryDesc()" ng-class="galleryItemControl.limitedDesc ? 'expand-markup' : 'hide-expand-markup'">[Expand Description]</span>
      </p>
    </div>

    <div>
      <p>created:</p>
      <p class="gallery-created">{{ galleryItemControl.gallery.created | date: 'medium' }}</p>
    </div>
  </div>

  <edit-gallery
    ng-if="galleryItemControl.showEditGallery"
    gallery="galleryItemControl.gallery">
  </edit-gallery>

  <button
  class="button-small"
  ng-click="galleryItemControl.deleteGallery()"
  ng-show="!galleryItemControl.showEditGallery">delete</button>
  <button
    class="button-small"
    ng-click="galleryItemControl.showEditGallery = !galleryItemControl.showEditGallery"
    ng-show="!galleryItemControl.showEditGallery">edit</button>
  <div class="clearfix"></div>
</li>
